* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    margin: 0;
    padding: 0;
    border: 0;
}

svg path,
svg rect {
    fill: black;
}

.fadeIn {
    animation: fadeIn ease .8s;
    -webkit-animation: fadeIn ease .8s;
    -moz-animation: fadeIn ease .8s;
    -o-animation: fadeIn ease .8s;
    -ms-animation: fadeIn ease .8s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border: none;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}